.ipynb_checkpoints/
data processing/.ipynb_checkpoints/ 

data processing/.ipynb_checkpoints/Creating core  JSON files-checkpoint.ipynb
data processing/.ipynb_checkpoints/make json data-checkpoint.ipynb
data processing/adjectives.txt
data processing/appdatasets/vitalvocab.txt
data processing/.ipynb_checkpoints/make json data-checkpoint.ipynb
data processing/Creating POS datasets.ipynb
data processing/datasets/adjectives.txt
data processing/datasets/core words completed.xlsx
data processing/datasets/Creating core  JSON files.ipynb
data processing/datasets/Creating POS datasets.ipynb
data processing/datasets/nouns.txt
data processing/datasets/rankedvocab.csv
data processing/datasets/test.csv
data processing/datasets/verbs.txt
data processing/datasets/vitalvocab.txt
data processing/jsonnouns.txt
data processing/make json data.ipynb
data processing/nouns.txt
data processing/test.csv
data processing/testing/check me.csv
data processing/testing/jsonnouns.txt
/data processing
data processing/make json data.ipynb
data processing/jsonnouns.txt
data processing/.ipynb_checkpoints/make json data-checkpoint.ipynb
data processing/jsonnouns.txt
